@import "tailwindcss";
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

/* Custom Scrollbar for horizontal scrolling */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #a0aec0 #edf2f7; /* thumb and track color */
}

/* For Webkit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* height of horizontal scrollbar */
  width: 8px; /* width of vertical scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #edf2f7; /* track color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* thumb color */
  border-radius: 10px;
  border: 2px solid #edf2f7; /* space around thumb */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
